body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.iconen{
    width: 45px;
    height: 45px;
}

.social-media{
    width: 30px;
    height: 30px;
}

.background-name{
    height: 850px;
}

.image-project{
    width: 500px;
}

.project-img{
    width: 350px;
}

.macbook{
    width: 500px;
}

.development-icon{
    width: 80px;
    height: 80px;
}

.check-icon{
    width: 60px;
    height: 60px;
}

.design-img{
    width: 500px;
    height: 200px;
}

.inspiration{
    width: 600px;
    height: 300px;
}

.navbar{
    width: 60px;
    height: 40px;
}