body {
    background-image: url(/img/abstract-textured-backgound.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.about-me{
    margin-top: 50vw;
}

.text{
    margin-top: 200px;
}